header {
    background: #F2B138;
    height: 5rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem; 
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
    transition: background-color 0.3s ease;
}

/* header:hover {
    background: linear-gradient(135deg, #F27A38, #F2B138); 
} */

/* header.content{
    width: 50%;
} */

a.logo {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    font-kerning: auto;
    color: #FFFFFF;
    text-decoration: none;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out; /* Animación de escala */
    margin: 1rem;
}

a.logo:hover {
    transform: scale(1.1); /* Escala ligera en hover */
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: transform 0.3s ease;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 1.1rem;
    font-weight: 500;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    gap: 0.5em; /* Espacio entre el icono y el texto */
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo translúcido en hover */
    transform: translateY(-3px); /* Efecto sutil de movimiento */
}

nav ul li a:active {
    transform: translateY(0); /* Devuelve al estado original */
}

nav ul li i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
