header {
    background: #F2B138;
    height: 5rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem; 
    transition: background-color 0.3s ease;
}



a.logo {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: bold;
    font-kerning: auto;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 2px;
    transition: transform 0.3s ease-in-out; 
    margin: 1rem;
}

a.logo:hover {
    transform: scale(1.1); 
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    transition: transform 0.3s ease;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    font-size: 1.1rem;
    font-weight: 500;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 0.5em; 
}

nav ul li a:hover {
    transform: scale(1.1);
}

nav ul li a:active {
    transform: translateY(0); 
}

nav ul li i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
