div {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%; 
    max-width: 900px; 
    margin-left: auto;
    margin-right: auto; 
}

div input { 
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 2.5rem;
    width: 20rem;
    background-color: #f0f0f0;
    padding: 1.2rem;
    font-size: .9rem;
    font-weight: 500;
    outline: none;
}

div button {
    color: ivory;
    height: 2.5rem;
    width: 9rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #F25922;
    color: #f1f1f1;
    /* opacity: .8; */
    outline: none;
}

div button ::content{
    font-family: "hind";
    font-weight: 600;
    padding-right: 2rem;
    font-size: .9rem;
    align-self: center;
 }

div button:hover {
    cursor: pointer;
}
