@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #fffff0;
}

a{
    text-decoration: none;
}
